
#monthlyranks-banner {
  width: 96%;
  margin: auto;
  margin-top: 7em;
  border-radius: 10px;
  height: 19em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 4em;
  background-color: #3D10E9;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
#monthlyranks-banner-section1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
}
#monthlyranks-banner-section1-title {
  font-size: 50px;
  color: white;
  font-weight: 800;
  font-family: "helvatica", sans-serif;
}
#monthlyranks-banner-section1-text {
  font-size: 16px;
  color: white;
  font-family: "poppins", sans-serif;
}


#monthlyranks-cards-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  margin: auto;
  margin-top: 2em;
  width: 96%;
}
.monthlyranks-card {
  border-radius: 10px;
  background-color: rgba(25,25,27,1);
  box-shadow: var(--box-shadow);
  width: 49%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}
.monthlyranks-card:hover {
  background-color: rgba(40,40,42,1);
  transform: translateY(-10px) scale(1.03);
}
.monthlyranks-isUser-card {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(55, 55, 57, 1);
}
@keyframes swipe {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
.monthlyranks-isUser-card::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(135deg,
      rgba(55, 55, 57, 0.8),
      rgba(61, 61, 67, 0.8),
      rgba(6, 6, 8, 0.8),
      rgba(62, 62, 64, 0.8));
  z-index: -1;
  animation: swipe 1s infinite linear;
}
.monthlyranks-card:nth-child(1) {
  animation-delay: 0s;
}
.monthlyranks-card:nth-child(2) {
  animation-delay: 0.1s;
}
.monthlyranks-card:nth-child(3) {
  animation-delay: 0.2s;
}
.monthlyranks-card:nth-child(4) {
  animation-delay: 0.3s;
}
.monthlyranks-card:nth-child(5) {
  animation-delay: 0.4s;
}
.monthlyranks-card:nth-child(6) {
  animation-delay: 0.5s;
}
.monthlyranks-card:nth-child(7) {
  animation-delay: 0.6s;
}
.monthlyranks-card:nth-child(8) {
  animation-delay: 0.7s;
}
.monthlyranks-card:nth-child(9) {
  animation-delay: 0.8s;
}
.monthlyranks-card:nth-child(10) {
  animation-delay: 0.9s;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#monthlyranks-cards-body {
  display: flex;
  flex-wrap: wrap;
}

.monthlyranks-card-padded {
  padding: 2em 1.5em;
}
.monthlyranks-card-title {
  font-family: "poppins-semibold", sans-serif;
  font-size: 30px;
  color: var(--color);
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.monthlyranks-card-name {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  color: #bbb;
}
.monthlyranks-card-footer-text {
  font-size: 14px;
  font-family: "poppins-semibold", sans-serif;
  color: var(--color);
}
/* .monthlyranks-card-footer-btn {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 1.6em;
  font-size: 14px;
  color: var(--color);
  font-family: "poppins-semibold", sans-serif;
  margin-top: 1em;
  background-color: red;
} */
.monthlyranks-card-footer-btn {
  border-radius: .25rem;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg, rgba(10,10,12,1),rgba(20,20,22,1));
  border: 0 solid;
  overflow: hidden;
  font-family: "poppins", sans-serif;
  margin-top: 1em;
  font-size: 12px;
}
.monthlyranks-card-footer-btn:hover {
  cursor: pointer;
  transition: all .1s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}






.monthlyranks-card-catalog {
  margin-top: 0.8em;
  margin-bottom: 2em;
}
.monthlyranks-card-catalog div, .monthlyranks-card-catalog img {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  outline: none;
  border-radius: 50%;
  border: 1px solid #777;
  display: inline-block;
  position: relative;
  object-fit: cover;
}



@media (max-width:760px) {
#monthlyranks-banner {
  margin-top: 10em;
  width: 90%;
  padding: 0em 1em;
}
#monthlyranks-banner-section1 {
  width: 100%;
}
#monthlyranks-banner-section1-title {
  font-size: 20px;
  color:var(--color);
  font-weight: 800;
  font-family: "helvatica", sans-serif;
}
#monthlyranks-banner-section1-text {
  font-size: 12px;
}
#monthlyranks-cards-body {
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}
.monthlyranks-card {
  width: 100%;
}
}
