
.sidepanel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 22%;
  z-index: 5;
  background-color: var(--panel-color);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#sidepanel-hidepanel-btn {
  display: none;
}
#sidepanel-leadcontainer {
  font-size: 25px;
  font-family: 'helvetica', sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  width: 100%;
  margin-top: 0.7em;
  padding: 1em 0.3em;
  border-bottom: 0.5px solid rgba(200,200,200,0.2);
}
#sidepanel-logo {
  color: white;
  text-decoration: none;
}
#sidepanel-links-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  margin-top: 2em;  
}
.sidepanel-link-container {
  display: flex;
  gap: 0.9em ;
  align-items: center;
  width: 85%;
  border-radius: 3px;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  line-height: 24px;
  color: white;
}
#sidepanel-link-container-active {
  border-right: 4px solid white;
  font-family: 'poppins-semibold', sans-serif;
  font-weight: 700;
}
.sidepanel-link-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

#application-body {
  width: 78%;
  margin-left: 22%;
  padding-bottom: 2em;
}
#application-container {
  margin-top: 5em;
}

@media (max-width: 760px) {
.sidepanel {
  width: 80%;
}
.sidepanel-hide {
  display: none;
}
#sidepanel-hidepanel-btn {
  display: inline;
  cursor: pointer;
}
#sidepanel-leadcontainer {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  align-items: center;
}
.sidepanel-link-container {
  width: 90%;
}
#application-body {
  width: 100%;
  margin-left: 0%;
}
#application-container {
  margin-top: 8em;
}
}
