
#dashboard-sectionA-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 96%;
  margin: auto;
  margin-top: 6em;
}
.dashboard-sectionA-container {
  background-color: rgba(25,25,27,1);
  box-shadow: var(--box-shadow);
  width: 32%;
  border-radius: 15px;
  padding: 0.4em 1.4em;
  height: 100px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}
.dashboard-sectionA-container-flexed {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
.dashboard-sectionA-container-iconbody {
  /* background-color: var(--background-color); */
  background-color: rgba(40,40,42,1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
}
.dashboard-sectionA-container-title {
  font-family: "poppins", sans-serif;
  color: #bbb;
  font-size: 15px;
}
.dashboard-sectionA-container-amount {
  font-family: "poppins-semibold", sans-serif;
  color: var(--color);
  font-size: 24px;
}
.dashboard-sectionA-container-slm {
  font-family: "poppins", sans-serif;
  color: #bbb;
  font-size: 11.4px;
}
.dashboard-sectionA-container-flexed2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.dashboard-charts-box {
  background-color: var(--card-color);
  box-shadow: var(--box-shadow);
  margin-top: 1.4em;
  width: 49%;
  border-radius: 15px;
  padding: 0.4em 1.4em;
  height: 20em;
}
#dashboard-charts2-btn:hover {
  background-color: rgba(30,30,32,1);
}

#dashboard-topcontrib-body {
  background-color: rgba(30,30,32,1);
  border-radius: 15px 15px 0px 0px;
  padding: 1em;
  font-family: "poppins-semibold", sans-serif;
  color: var(--color);
  font-size: 20px;
}
#dashboard-topcontrib-headers, .dashboard-topcontrib-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  gap: 1em;
}
#dashboard-topcontrib-headers-headers1, 
#dashboard-topcontrib-headers-headers2,
#dashboard-topcontrib-headers-headers3{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
#dashboard-topcontrib-headers-headers1 {
  width: 15%;
}
#dashboard-topcontrib-headers-headers2 {
  width: 60%;
}
#dashboard-topcontrib-headers-headers3 {
  width: 25%;
}
#dashboard-topcontrib-headers div{
  font-family: 'poppins-semibold', sans-serif;
  font-size: 14px;
  color: #bbb;
  text-align: right;
}
.dashboard-topcontrib-body div {
  font-family: 'poppins-semibold', sans-serif;
  font-size: 14px;
  color: var(--color);
}
.dashboard-topcontrib-body-namespace {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7em;
  word-wrap: break-word;
}
.dashboard-topcontrib-body-namespace-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  object-fit: cover;
}
.dashboard-topcontrib-body-namespace-contrib {
  width: 15%;
  padding-left: 1em;
}
.dashboard-topcontrib-body-namespace-rating {
  width: 25%;
  text-align: left;
  padding-left: 1em;
  /* text-align: right;
  background-color: rgb(93, 98, 120);
  border-radius: 30px; */
  
}
/* .dashboard-topcontrib-body-namespace-rating-inner {
  width: 0%;
  background-color: dodgerblue;
  border-radius: 30px;
  height: 10px;
} */

.dashboard-charts-box-scrollable {
  max-height: 28em;
  overflow-y: auto;
  height: auto;
}
.dashboard-charts-box-scrollable::-webkit-scrollbar {
  width: 0.4em;
  background-color: rgba(30,30,32,1);
}
.dashboard-charts-box-scrollable::-webkit-scrollbar-thumb { 
  border-radius: 30px;
  background-color: rgba(40,40,42,1);
}
.dashboard-news-body div {
  font-size: 14px;
  font-family: "poppins", sans-serif;
}

#dashboard-news-preview-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:2;
  background-color: rgba(10,10,10,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-news-body {
  cursor: pointer;
  padding: 0.5em 0.7em;
}
.dashboard-news-body:hover {
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 10px;
}
#dashboard-news-preview-cont {
  width: 30%;
  border-radius: 10px;
  background-color: rgba(25,25,27,1);
  box-shadow: var(--box-shadow);
  z-index: 3;
  padding: 1.7em;
  max-height: 20em;
  overflow-y: auto;
}
#dashboard-news-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dashboard-news-preview-content {
  font-family: "poppins", sans-serif;
  margin-top: 1em;
  font-size: 15px;
}
.show-news,
.hide-news {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.show-news {
  animation-name: show-news;
}
.hide-news {
  animation-name: hide-news;
}
@keyframes show-news {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes hide-news {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}


@media (max-width: 760px) {
#dashboard-sectionA-body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10em;
}
.dashboard-sectionA-container {
  width: 100%;
}
.dashboard-charts-box {
  width: 100%;
  height: auto;
}
.dashboard-news-body div {
  font-size: 13px;
}
#dashboard-news-preview-cont {
  width: 90%;
}
#dashboard-topcontrib-headers-headers1, .dashboard-topcontrib-body-namespace-contrib {
  width: 20%;
}
#dashboard-topcontrib-headers-headers2 , .dashboard-topcontrib-body-namespace{
  width: 65%;
}
#dashboard-topcontrib-headers-headers3, .dashboard-topcontrib-body-namespace-rating {
  width: 15%;
}
}