
.datatable-sectionA-body {
  justify-content: flex-start;
}
.datatable-sectionA-table {
  width: 100%;
  padding-bottom: 2em;
  overflow-x: auto;
}
#datatable-sectionA-header {
  font-size: 24px;
  margin-top: 0.6em;
}
#datatable-sectionA-table-container {
  width: 100%; 
  border-collapse: collapse;
  margin-top: 1em;
}
#datatable-sectionA-table-container th,
#datatable-sectionA-table-container td {
  padding: 1em 10px;
  text-align: left;
  white-space: nowrap;
}
#datatable-sectionA-table-container th {
  border-bottom: 1px solid #444;
  color: #aaa;
}
#datatable-sectionA-table-container td {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInLeft 0.5s forwards;
}
@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}