
.profile-body {
 margin: auto;
 margin-top: 5.5em;
 display: flex;
 justify-content: space-between;
 width: 96%;
}

#profile-info-cont {
  background-color: rgba(25,25,27,1);
  box-shadow: var(--box-shadow);
  width: 40%;
  border-radius: 15px;
  padding: 0.4em 1.4em;
}
#profile-info-updatecont {
  margin-top: 1.7em;
  display: flex;
  justify-content: flex-start;
  padding-left: 1em;
  align-items: center;
  font-family: 'poppins-semibold', sans-serif;
}
#profile-info-updatecont button {
  padding: 8px 1.2em;
  border: none;
  outline: none;
  background-color: rgba(60,60,62,1);
  border-radius: 30px;
}
#profile-info-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}
#profile-info-image {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  border: 1px solid #555;
  box-shadow: var(--box-shadow);
}
#profile-info-image-editbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -1.5em;
  margin-top: 3.3em;
  border: 1px solid #555;
  background-color: var(--panel-color);
  cursor: pointer;
}
#profile-info-name {
  font-size: 21px;
  text-align: center;
  font-family: 'helvetica', sans-serif;
  margin-top: 0.6em;
  color: var(--color);
}
.profile-info-metainfo {
  font-family: 'poppins', sans-serif;
  color: #bbb;
  font-size: 15px;  
  text-align: center;
}
#profile-info-credentials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2.5em;
}
.profile-info-credentials-lead {
  font-size: 21px;
  text-align: center;
  font-family: 'helvetica', sans-serif;
  color: var(--color);
}

.profile-passwordspace {
  width: 55%;
  background-color: rgba(25,25,27,1);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding: 0.4em 1.4em;
}
#profile-passwordspace-header {
  font-size: 22px;
  font-family: 'helvetica', sans-serif;
  width: 90%;
  margin: auto;
  margin-top: 1.7em;
}
#profile-passwordspace-inputbody {
  margin: auto;
  margin-top: 1.5em;
  width: 90%;
}

@media (max-width: 760px) {
.profile-body {
   flex-direction: column;
   width: 90%;
   gap: 1.8em;
   margin-top: 10em;
}
#profile-info-cont,  .profile-passwordspace {
   width: 100%;
} 
.profile-passwordspace {
    padding: 0.4em 1em;
    padding-bottom: 1.5em;
}
}