#support-leadsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    padding: 0 4em;
    margin-top: 7em;
    margin-bottom: 2em;
}
#support-leadsection img {
    width: 400px;
}

#invitepage-leadsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    padding: 0 2em;
    margin-top: 3em;
}
#invitepage-leadsection img {
    width: 600px;
}
#invitepage-leadheader {
    font-size: 50px;
}
#invitepage-leadtext {
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}
#invitepage-inputsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-top: 0.8em;
    gap: 1em;
}

#invitepage-pointsection {
    width: 87%;
    padding: 2em 1.7em;
    margin: auto;
    margin-top: -3em;
    margin-bottom: 3em;
    background-color: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    overflow-y: auto;
}
#invitepage-pointsection::-webkit-scrollbar {
    display: none;
}
#invitepage-pointsection-title {
    font-family: 'poppins-semibold', sans-serif;
    font-size: 20px;
}
#invitepage-pointsection-cardsection {
    font-family: 'poppins-semibold', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.invitepage-pointsection-cardtext {
   font-family: "poppins", sans-serif;
   font-size: 14px;
   color: #bbb;
}
.invitepage-pointsection-cardtitle {
   font-family: "poppins-semibold", sans-serif;
   font-size: 18px;
}


@media (max-width: 760px) {
#support-leadsection {
    flex-direction: column-reverse;
    width: 88%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 2em;
    padding: 0;
}
#support-leadsection img {
    width: 300px;
}

#invitepage-leadsection {
    flex-direction: column-reverse;
    width: 88%;
    margin: auto;
    margin-top: 6em;
    padding: 0;
}
#invitepage-leadsection img {
    width: 350px;
}
#invitepage-leadheader {
    font-size: 25px;
}
#invitepage-leadtext {
    font-size: 14px;
}
#invitepage-inputsection {
    gap: 0.5em;
}
#invitepage-pointsection {
    width: 90%;
    padding: 2em 1em;
    margin: auto;
    margin-bottom: 3em;
    background-color: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    overflow-y: auto;
}
#invitepage-pointsection-cardsection {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}
}